body,ul,li,p,h1{
    padding: 0;margin: 0;list-style: none;
}
a{
    color: #fff; text-decoration:none; 
    color: rgba(255, 255, 255, 0.5);
}
body{
    background: url('../img/home_bj.jpg') ;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.S_center{
    width: 922px;height: 488px;
    margin: 0 auto;
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: cover;
}

.S_info{
	height: 100%;
  width: 100%;    float: left;

}
.S_infos p{
    font-size: 14px;
    color: #010101;line-height: 1.5;
}
.S_title{
    width: 100%;height: 158px;
    background: url('../img/title.png') center;
    background-size: cover;
}
.S_infos{
    background-color:#fff;
}
.S_infos p{
	width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    /*padding: 22px 0;*/
}
.S_map{
    width: 100%;
    height: 250px;
    background: url('../img/map.jpg') center; 
    background-size: cover;
}

.S_footer {
    width: 100%;background-color: #000000;
    float: left;  
}
.S_footerbox{
	margin: 0 auto;
    width: 1200px;
}
.S_footer .S_footerL{
    float: left;
    width: 570px;    height: 200px;
    /* margin-left: 500px; */
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 45px;padding-bottom: 15px;
}
.S_footerL p{
    font-size: 18px;
    color: #fff;padding: 16px 0;
}
.S_footerL span{
    font-size: 14px;
    display: block;
    padding: 5px 0;
}
.S_footerL a:hover{
    color:  #fff; 
}
.S_footerL li {
    width: 25%;
    float: left;
    text-align: left;
}
.S_footerR{
    float: left;
    font-size: 20px;  
    text-align: left;
    padding-top: 70px;
    padding-left: 60px;
}
.S_footerR  h1{
    font-size: 43px;
}
/* 底部信息 */
.S_footerInfo{
    float: left;
    width: 100%;
    font-size: 12px;
    color: #fff;
    background-color: #0D0D0D;
    padding: 10px 0;
}
.S_footerInfo p{
    padding-bottom: 5px;
}
.S_footerInfo a{
	color: #FFFFFF;
}
/* 响应式页面分辨率 */
@media screen and (min-width: 1930px) {
		.S_infos p{
			padding: 48px 0; font-size: 16px; line-height: 1.7;
		}
	}
@media screen and (max-width: 1920px) {
		.S_infos p{
			padding: 37px 0;
		}
	}
@media screen and (max-width: 1440px) {
		.S_title{
			max-height: 138px;
		}

	}
@media screen and (max-width: 1366px) {
		.S_title{
			max-height: 56px;
		}
		.S_infos p{
			padding: 10px 0;
		}
	}
@media screen and (max-width: 1280px) {
		.S_title{
			max-height: 70px;
		}
		.S_infos p{
			padding: 20px 0;
		}
	}


